apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: storeofcoinsapi
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      app: storeofcoinsapi
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: usersapi
  labels:
    release: kps
spec:
  selector:
    matchLabels:
      app: usersapi
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
